@import "_sizes.scss";
@import "_colors.scss";

#accommodations {
    background-color: $pink;

    a.other {
        font-size: 22px;
        margin-top: 30px;
        display: inline-block;
        font-weight: 500;
    }
}

.accommodations-header {
    color: $text;
    font-size: 35px;
    @media (min-width: $size-md) {
        font-size: 75px;
    }
}

div.accommodation {
    padding: 50px 20px 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    @include transition(0.3s);
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);

        @media (min-width: $size-md) {
            .name {
                span {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }

    @media (min-width: $size-md) {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    p.cost {
        color: #4daf7c;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    .name {
        width: 100%;
        a {
            display: inline-block;
            position: relative;
            height: 30px;
            line-height: 30px;
            font-size: 25px;
            font-weight: 300;

            margin-bottom: 10px;
            color: $text;

            @media (min-width: $size-md) {
                font-size: 30px;
            }

            span {
                color: $text;
                font-size: 16px;
                position: absolute;
                right: -20px;
                top: 10px;

                @media (min-width: $size-md) {
                    opacity: 0;
                    cursor: default;

                    @include transition(0.2s);
                }
            }
        }
    }
    
    a.directions {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 400;

        span {
            font-size: 14px;
        }
    }

    p.note {
        color: $salmon;
        min-height: 40px;
        line-height: 20px;
        font-size: 18px;
    }
}