@import "compass/css3.scss";
@import "_sizes.scss";
@import "_colors.scss";

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: $text;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #337ab7;

  &:visited &:focus {
    color: #337ab7;
    text-decoration: none;
  }

  &:hover {
    color: #23527c;
    text-decoration: none;
  }
}

div.page {
  padding-top: 50px;
  padding-bottom: 15px;
  @include transition(min-height .2s);
}

div.fullpage {
  min-height: 100vh;
}

#footer {
  background-color: $yellow;
  height: 100px;
  line-height: 100px;
  width: 100%;
  text-align: center;

  @media (min-width: $size-md) {
    height: 150px;
    line-height: 150px;
  }

  p {
    margin: 0;
  }
}

