@import "compass/css3.scss";
@import "_sizes.scss";
@import "_colors.scss";

#registry {
}

.registry-header {
    margin-bottom: 50px;
}

.registry-row-container {
    margin-top: 50px;
}

$registry-row-height: 70px;
.registry-row {
    margin-top: 10px;
    background-color: $yellow;
    padding: 0;
    display: block;
    height: $registry-row-height;
    line-height: $registry-row-height;
}

.registry-block {
    display: inline-block;
    background-color: $yellow;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: $text;

    .img-holder {
        height: 100%;
        width: $registry-row-height;
        display: inline-block;
        background-color: $beige;

        vertical-align: middle;
        float: left;

        img {
            height: 50px;
            width: 50px;
            margin: 10px;
        }
    }

    p {
        height: $registry-row-height;
        line-height: $registry-row-height;
        margin-bottom: 0;
    }

    p.name {
        vertical-align: middle;
        display: inline-block;

        font-size: 18px;
        font-weight: 600;

        float: left;
        margin-left: 20px;
        @media (min-width: $size-md) {
            float: none;
            margin-left: 0;
            font-size: 24px;
        }
    }

    p.description {
        vertical-align: middle;
        margin-left: 20px;
        font-size: 16px;

        display: none;
        @media (min-width: $size-md) {
            display: inline-block;
        }
    }

    div.glyph-container {
        height: $registry-row-height;
        width: $registry-row-height;
        float: right;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;

        i {
            height: 100%;
            line-height: $registry-row-height;
            width: 100%;
            background-color: #777;
            color: $yellow;
            font-size: 22px;
            margin-top: -1px;

            @include transition(.3s ease-out);
            @include translate3d($registry-row-height, 0);
        }
    }
}

.registry-block {
    &:hover {
        div.glyph-container {
            i {
                @media (min-width: $size-md) {
                    @include translate3d(0, 0);
                }
            }
        }
    }
}
