@import "compass/css3.scss";
@import "_sizes.scss";
@import "_colors.scss";

#rsvp {
    background-color: $pink;
}

div.rsvp {
    margin-top: 50px;
    margin-bottom: 20px;

    .rsvp-header {
        font-size: 26px;

        @media (min-width: $size-md) {
            font-size: 45px;
        }
    }

    .rsvp-sub {
        font-size: 20px;
    }
}

.delete-child, .add-child {
    line-height: 34px;
}

.add-child{
    font-size: 12px;
}

.child-list-item {
    margin-bottom: 5px;
}

i.send-rsvp {
    font-size: 11px;
}

.rsvp-divider {
    border-top-color: $beige;
}

.submitted {
    font-size: 20px;
    font-weight: 300;

    h2 {
        font-size: 24px;
    }

    h2 i {
        font-size: 18px;
    }

    &.error {
        font-weight: 400;
    }

    @media (min-width: $size-md) {
        h2 {
            font-size: 30px;
        }
    }
}

.submitting {
    .spinner {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
}