@import "compass/css3.scss";

$size-lg: 1200px;
$size-md: 992px;
$size-sm: 768px;
$size-xs: 480px;

$yellow: #F5D76E;

html {
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  color:#777;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14px;
  font-weight: 400;
}

nav.navbar {
  z-index: 100;
  border-bottom: none;

  a {
    cursor: pointer;
    @include user-select(none);
  }
}

nav.navbar-slidein {
  position: fixed;
  top: 36px;
  width: 150px;
  min-height: 100%;
  z-index: 100;

  border: none;

  @include translate(-220px);
  @include transition(.2s);
  @include border-radius(0px);
}

nav.navbar-slidein-active {
  @include translate(0px);
}

div.navfix {
  padding-top: 50px;
  height: 100%;
}

div.page {
  padding-top: 40px;
  min-height: 100%;
  padding-bottom: 80px;
}

span.scroll-down {
  height: 0;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  width: auto;

  overflow: visible;
  @include user-select(none);

  border-top: 10px solid $yellow;

  text-align: center;
  display: block;

  &:before {
    $height: 70px;

    cursor: pointer;
    display: inline-block;
    height: $height - 10;
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    box-sizing: border-box;
    line-height: 40px;
    font-size: 17px;

    position: relative;
    top: -($height / 2);

    color: #777;
    width: 63px;
    background-color: $yellow;
    border: 10px solid $yellow;
    @include border-radius(100px);
  }
}

.img-hands {
  $hands-large: 250px;
  $hands-small: 150px;

  margin-top: 50px;
  width: $hands-small;
  height: $hands-small;

  @include border-radius($hands-small);

  @media (min-width: $size-md) {
    width: $hands-large;
    height: $hands-large;

    @include border-radius($hands-large);
  }
}

div#home div.home {
  border-top: none !important;
  padding-bottom: 81px;
}

#venues {
  height: 1500px;
}

#home div.home {
  padding-top: 20px;
}

.ceremony-img {
  background-image: url("/static/media/saint_marys.png");
}

.reception-img {
  background-image: url("/static/media/diamond_mills.png");
}

.venue-row {
  text-align: center;
}

$venue-img-height: 235px;
$venue-label-height: 60px;
.venue-block {
  display: inline-block;
  margin-top: 40px;
  z-index: 1;
  position: relative;
  max-width: 520px;
  width: 100%;
  height: $venue-img-height + $venue-label-height;

  h2 {
    margin: -5px 0 0 0;
    height: $venue-label-height;
    line-height: $venue-label-height;

    background-color: $yellow;
  }
}

.venue-img {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: $venue-img-height;
}

.venue-info-block {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;

  $link-color: #f1c40f;

  @include transition(.3s);

  &:hover {
    @media (min-width: $size-md) {
      opacity: 100;
    }
  }

  a {
    color: $link-color;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: #D3AC11;
    }
  }
}

div.venue-info-block-show {
  opacity: 100;
}

.venue-info-button {
  position: absolute;
  top: 0;
  left: 0;

  height: 40px;
  width: 90px;
  line-height: 40px;
  z-index: 3;
  background-color: rgb(50, 50, 50);
  cursor: pointer;

  font-size: 15px;
  display: inline-block;

  color: white;

  @include border-bottom-right-radius(2px);
  @include user-select(none);

  @media (min-width: $size-md) {
    display: none;
  }
}

/* Bootstrap color changes */
nav {
  background-color: $yellow !important;
}
