[submodule "static/js/angular-scroll"]
	path = static/js/angular-scroll
	url = https://github.com/oblador/angular-scroll.git
[submodule "static/js/fastclick"]
	path = static/js/fastclick
	url = https://github.com/ftlabs/fastclick.git
