<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="static/media/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/media/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//detectmobilebrowsers.com/download/jquery"></script>
        <script src="/static/js/angular-scroll/angular-scroll.min.js"></script>
        <script src="/static/js/fastclick/lib/fastclick.js"></script>
        <script src="/static/js/mobile.js"></script>
        <script src="/static/js/main.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58818938-1', 'auto');
            ga('send', 'pageview');

        </script>

        <title>Meaghan Averill & Andrew Potter</title>
        <meta name="description" content="Official wedding website for Meaghan Averill and Andrew Potter!  Here you can find information about ceremony and reception venues, gift registries, and accommodations">
    </head>

    <body data-ng-controller="WeddingController">
        <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" data-ng-click="menuClick()">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true" data-ng-click="menuClick"></span>
                    </a>
                    <a class="navbar-brand" data-ng-click="setHash('home')">Meaghan & Andy</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-default navbar-slidein hidden-md hidden-lg" role="navigation" data-ng-class="{'navbar-slidein-active': mobileMenu}">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a data-ng-click="setHash('rsvp')">RSVP</a></li>
                    <li><a data-ng-click="setHash('venues')">Venues</a></li>
                    <li><a data-ng-click="setHash('registry')">Registries</a></li>
                    <li><a data-ng-click="setHash('accommodations')">Accommodations</a></li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-default navbar-fixed-top hidden-xs hidden-sm" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" data-ng-click="setHash('home')">Meaghan & Andy</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a data-ng-click="setHash('rsvp')">RSVP</a></li>
                    <li><a data-ng-click="setHash('venues')">Venues</a></li>
                    <li><a data-ng-click="setHash('registry')">Registries</a></li>
                    <li><a data-ng-click="setHash('accommodations')">Accommodations</a></li>
                </ul>
            </div>
        </nav>

        <div id="home" class="container-fluid">
            <div class="row text-center page home fullpage">
                <div class="col-md-12"><img src="/static/media/hands.png" class="img-hands" /></div>
                <div class="col-md-12">
                    <h2><span class="names">Meaghan Averill</span> <span class="name-and">&</span> <span class="names">Andrew Potter</span></h2>
                </div>
                <div class="col-md-12"><h5>July 11, 2015</h5></div>
                <img class="flowers" src="static/media/flowers.svg" />
            </div>

            <span class="scroll-down" data-ng-click="setHash('rsvp')"></span>

            <div id="rsvp" class="row text-center page">
                <div class="col-md-8 col-md-offset-2 rsvp">
                    <p class="section-header rsvp-header">RSVP</p>
                </div>

                <form class="form-horizontal col-md-6 col-md-offset-3 text-left">

                    <div class="form-group">
                        <label for="rsvp-name" class="control-label col-md-3">Name(s)</label>
                        <div class="col-md-9">
                            <input id="rsvp-name" type="text" placeholder="Mr. Jake and Mrs. Tabitha O'Reilly" class="form-control" data-ng-model="rsvp.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="rsvp-radios" id="rsvp-radio-yes" value="yes" data-ng-model="rsvp.attending">
                                    Attending
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="rsvp-radios" id="rsvp-radio-no" value="no" data-ng-model="rsvp.attending">
                                    Regretfully Decline
                                </label>
                            </div>
                            <div class="checkbox" data-ng-show="isAttending()">
                                <label>
                                    <input type="checkbox" data-ng-model="rsvp.children"> <strong>With Children (12yo and under)</strong>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="rsvp.children && isAttending()">
                        <label class="control-label col-md-3">Under 4 years</label>

                        <div data-ng-repeat="child in rsvp.childrenUnder4">
                            <div class="col-md-8 child-list-item" data-ng-class="{'col-md-offset-3': $index !== 0}">
                                <input type="text" placeholder="Name" class="form-control" data-ng-model="child.name">
                            </div>
                            <div class="col-md-1 text-left">
                                <a href="javascript:void(0);" data-ng-click="removeChild(rsvp.childrenUnder4, $index)"><i class="glyphicon glyphicon-trash text-danger delete-child"></i></a>
                            </div>
                        </div>

                        <div class="col-md-9" data-ng-class="{'col-md-offset-3': rsvp.childrenUnder4.length}">
                            <a href="javascript:void(0);" data-ng-click="addChild(rsvp.childrenUnder4)"><i class="glyphicon glyphicon-plus text-success add-child"></i><span class="text-success"> Add</span></a>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="rsvp.children && isAttending()">
                        <label class="control-label col-md-3">4 to 12</label>

                        <div data-ng-repeat="child in rsvp.children4AndOlder">
                            <div class="col-md-8 child-list-item" data-ng-class="{'col-md-offset-3': $index !== 0}">
                                <input type="text" placeholder="Name" class="form-control" data-ng-model="child.name">
                            </div>
                            <div class="col-md-1 text-left">
                                <a href="javascript:void(0);" data-ng-click="removeChild(rsvp.children4AndOlder, $index)"><i class="glyphicon glyphicon-trash text-danger delete-child"></i></a>
                            </div>
                        </div>

                        <div class="col-md-9" data-ng-class="{'col-md-offset-3': rsvp.children4AndOlder.length}">
                            <a href="javascript:void(0);" data-ng-click="addChild(rsvp.children4AndOlder)"><i class="glyphicon glyphicon-plus text-success add-child"></i><span class="text-success"> Add</span></a>
                        </div>
                    </div>

                    <div data-ng-show="isAttending()">
                        <hr class="divider rsvp-divider col-md-offset-2">

                        <div class="form-group">
                            <label for="rsvp-beef" class="control-label col-md-3">Beef</label>
                            <div class="col-md-2">
                                <input id="rsvp-beef" type="number" min="0" placeholder="#" class="form-control" data-ng-model="rsvp.food.beef">
                            </div>
                            <span class="col-md-7">Roasted rib eye of beef with braised daube of beef, roasted fingerling potatoes, and grilled zucchini</span>
                        </div>

                        <div class="form-group">
                            <label for="rsvp-fish" class="control-label col-md-3">Fish</label>
                            <div class="col-md-2">
                                <input id="rsvp-fish" type="number" min="0" placeholder="#" class="form-control" data-ng-model="rsvp.food.fish">
                            </div>
                            <span class="col-md-7">Grilled salmon with tomato confit, haricot vert, goat cheese gnocchi, and parsley sauce</span>
                        </div>

                        <div class="form-group">
                            <label for="rsvp-veggie" class="control-label col-md-3">Vegetarian</label>
                            <div class="col-md-2">
                                <input id="rsvp-veggie" type="number" min="0" placeholder="#" class="form-control" data-ng-model="rsvp.food.veggie">
                            </div>
                            <span class="col-md-7">Gnocchi with root vegetables, spinach, and shiitake mushrooms in brown butter sage sauce with ricotta salata</span>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="readyToSubmit()">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Send RSVP <i class="glyphicon glyphicon-envelope send-rsvp"></i></button>
                        </div>
                    </div>

                </form>
            </div>

            <div id="venues" class="row text-center page">
                <h1 class="section-header venue-header">Venues</h1>
                <div class="row"><div class="col-md-12"><p class="venue-sub">Looking for something to do between the ceremony and reception?  Our beautiful hometown is filled with fun and interesting activities!<br /><a href="http://discoversaugerties.com/" target="_blank">This</a> is a great place to start gathering ideas.</p></div></div>
                <div class="venue-row col-md-4 col-sm-12 col-md-offset-2">
                    <div class="venue-block">
                        <div class="venue-img ceremony-img">
                            <div class="venue-info-button" data-ng-click="toggleDetails($event)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details</div>
                        </div>
                        <div class="venue-info-block">
                            <h4>Saint Mary's of the Snow Church</h4>
                            <p>Saugerties, NY</p>
                            <p>2:30pm</p>
                            <a class="venue-directions" href="https://www.google.com/maps/dir//St.+Mary+of+the+Snow+School,+25+Cedar+Street,+Saugerties,+NY+12477/@42.077202,-73.946042,17z/data=!4m12!1m3!3m2!1s0x89dda6d7fc4c6f8b:0x537d156d66a2c638!2sSt.+Mary+of+the+Snow+School!4m7!1m0!1m5!1m1!1s0x89dda6d7fc4c6f8b:0x537d156d66a2c638!2m2!1d-73.946042!2d42.077202" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Directions</a>
                        </div>
                        <h2>Ceremony</h2>
                    </div>
                </div>

                <div class="venue-row col-md-4 col-sm-12">
                    <div class="venue-block">
                        <div class="venue-img reception-img">
                            <div class="venue-info-button" data-ng-click="toggleDetails($event)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details</div>
                        </div>
                        <div class="venue-info-block">
                            <h4>Diamond Mills Hotel and Tavern</h4>
                            <p>Saugerties, NY</p>
                            <p>5:00pm</p>
                            <a class="venue-directions" href="https://www.google.com/maps/dir//Diamond+Mills+Hotel,+25+South+Partition+Street,+Saugerties,+NY+12477/@42.073052,-73.950122,17z/data=!4m12!1m3!3m2!1s0x89dda7245adb9f95:0xa289163575ce8cd9!2sDiamond+Mills+Hotel!4m7!1m0!1m5!1m1!1s0x89dda7245adb9f95:0xa289163575ce8cd9!2m2!1d-73.950122!2d42.073052" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Directions</a>
                        </div>
                        <h2>Reception</h2>
                    </div>
                </div>
            </div>

            <div id="registry" class="row text-center page">
                <h1 class="section-header registry-header">Registries</h1>
                <div class="col-md-8 col-md-offset-2">
                    <h4>We're registered a few different places.  Feel free to browse!</h4>
                </div>

                <div class="registry-row-container">
                    <a class="registry-row col-md-8 col-md-offset-2 col-sm-12 text-center" href="http://www1.macys.com/registry/wedding/guest/?registryId=6301462" target="_blank">
                        <div class="registry-block clearfix">
                            <div class="img-holder"><img src="/static/media/macys.png" /></div>
                            <p class="name">Macy's</p>
                            <p class="description">Dinnerware and Cutlery</p>
                            <div class="glyph-container"><i class="glyphicon glyphicon-link"></i></div>
                        </div>
                    </a>

                    <a class="registry-row col-md-8 col-md-offset-2 col-sm-12 text-center" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?eventType=Wedding&registryId=541822753" target="_blank">
                        <div class="registry-block clearfix">
                            <div class="img-holder"><img src="/static/media/bbb.png" /></div>
                            <p class="name">Bed, Bath, and Beyond</p>
                            <p class="description">Coockware and Home</p>
                            <div class="glyph-container"><i class="glyphicon glyphicon-link"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="accommodations" class="row text-center page">
                <h1 class="section-header accommodations-header">Accommodations</h1>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://www.diamondmillshotel.com/" target="_blank">The Diamond Mills <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$350+/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//Diamond+Mills+Hotel,+25+South+Partition+Street,+Saugerties,+NY+12477/@42.073052,-73.950122,17z/data=!4m12!1m3!3m2!1s0x89dda7245adb9f95:0xa289163575ce8cd9!2sDiamond+Mills+Hotel!4m7!1m0!1m5!1m1!1s0x89dda7245adb9f95:0xa289163575ce8cd9!2m2!1d-73.950122!2d42.073052" target="_blank">Saugerties, NY</a>
                        <p class="note">Minimum stay: Two nights</p>
                    </div>
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://www.hojo.com/hotels/new-york/saugerties/howard-johnson-inn-saugerties/hotel-overview" target="_blank">Howard Johnson Hotel <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$180/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//Howard+Johnson+Inn+Saugerties,+2764+New+York+32,+Saugerties,+NY+12477/@42.087434,-73.972897,17z/data=!4m12!1m3!3m2!1s0x89dda6fb6bbb4a73:0xb14f2ff9d7e09227!2sHoward+Johnson+Inn+Saugerties!4m7!1m0!1m5!1m1!1s0x89dda6fb6bbb4a73:0xb14f2ff9d7e09227!2m2!1d-73.972897!2d42.087434" target="_blank">Saugerties, NY</a>
                        <p class="note"></p>
                    </div>
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://www.comfortinn.com/hotel-saugerties-new_york-NY016" target="_blank">Comfort Inn <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$250/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//2790+NY-32,+Saugerties,+NY+12477/@42.0890326,-73.9734906,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89dda6fae4cd3e8b:0x14ad77084d89382d!2m2!1d-73.9734906!2d42.0890326" target="_blank">Saugerties, NY</a>
                        <p class="note"></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://hamptoninn3.hilton.com/en/hotels/new-york/hampton-inn-kingston-POUKGHX/index.html" target="_blank">Hampton Inn <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$259/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//1307+Ulster+Ave,+Kingston,+NY+12401/@41.9699162,-73.9905466,17z/data=!4m13!1m4!3m3!1s0x89dd08d31259856b:0xedd2fbfc117bd160!2s1307+Ulster+Ave,+Kingston,+NY+12401!3b1!4m7!1m0!1m5!1m1!1s0x89dd08d31259856b:0xedd2fbfc117bd160!2m2!1d-73.9905466!2d41.9699162" target="_blank">Kingston, NY</a>
                        <p class="note">Minimum stay: Two nights</p>
                    </div>
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://www.hikingston.com/" target="_blank">Best Western Plus <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$250/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//503+Washington+Ave,+Kingston,+NY+12401/@41.939705,-74.0293851,17z/data=!4m13!1m4!3m3!1s0x89dd0f7e06f8cdff:0x264f855762a937e!2s503+Washington+Ave,+Kingston,+NY+12401!3b1!4m7!1m0!1m5!1m1!1s0x89dd0f7e06f8cdff:0x264f855762a937e!2m2!1d-74.0293851!2d41.939705" target="_blank">Kingston, NY</a>
                        <p class="note">Minimum stay: Two nights.<br />Mention our wedding for discount.</p>
                    </div>
                    <div class="col-md-4 col-sm-12 accommodation">
                        <div class="name"><a href="http://www.redranchmotel.com/" target="_blank">Red Ranch Motel <span class="glyphicon glyphicon-link"></span></a></div>
                        <p class="cost">$85/night</p>
                        <a class="directions" href="https://www.google.com/maps/dir//4555+NY-32,+Catskill,+NY+12414/@42.1875349,-73.986183,17z/data=!4m13!1m4!3m3!1s0x89dda52653bb9e5d:0x8fce0ce9cc89a184!2s4555+NY-32,+Catskill,+NY+12414!3b1!4m7!1m0!1m5!1m1!1s0x89dda52653bb9e5d:0x8fce0ce9cc89a184!2m2!1d-73.986183!2d42.1875349" target="_blank">Catskill, NY</a>
                        <p class="note"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><a class="other" href="http://www.discoverourtown.com/nt/saugerties/lodging" target="_blank">Bed and breakfasts and camping resorts are also available in our area.</a></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>Created by Andrew Potter - Hosted on <a href="https://github.com/apottere/Wedding" target="_blank">Github</a></p>
        </div>
    </body>
</html>