/* line 10, ../../scss/main.scss */
html {
  min-height: 100%;
}

/* line 14, ../../scss/main.scss */
html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 21, ../../scss/main.scss */
body {
  min-height: 100%;
  color: #777;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* line 29, ../../scss/main.scss */
nav.navbar {
  z-index: 1;
  border-bottom: none;
}
/* line 33, ../../scss/main.scss */
nav.navbar a {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 39, ../../scss/main.scss */
nav.navbar-slidein {
  position: fixed;
  top: 36px;
  width: 200px;
  min-height: 100%;
  z-index: 100;
  border: none;
  -moz-transform: translate(-220px, 1em);
  -ms-transform: translate(-220px, 1em);
  -webkit-transform: translate(-220px, 1em);
  transform: translate(-220px, 1em);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 53, ../../scss/main.scss */
nav.navbar-slidein-active {
  -moz-transform: translate(0px, 1em);
  -ms-transform: translate(0px, 1em);
  -webkit-transform: translate(0px, 1em);
  transform: translate(0px, 1em);
}

/* line 57, ../../scss/main.scss */
div.navfix {
  padding-top: 50px;
  height: 100%;
}

/* line 62, ../../scss/main.scss */
.img-hands {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
}
@media (min-width: 992px) {
  /* line 62, ../../scss/main.scss */
  .img-hands {
    width: 250px;
    height: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
  }
}

/* line 80, ../../scss/main.scss */
div#home div.home {
  border-top: none !important;
  padding-bottom: 80px;
}

/* line 85, ../../scss/main.scss */
#venues {
  height: 1500px;
}

/* line 89, ../../scss/main.scss */
div.page {
  padding-top: 20px;
  min-height: 100%;
  padding-bottom: 80px;
}

/* line 95, ../../scss/main.scss */
span.scroll-down {
  height: 0;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  width: auto;
  overflow: visible;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-top: 10px solid #F5D76E;
  text-align: center;
  display: block;
}
/* line 110, ../../scss/main.scss */
span.scroll-down:before {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  box-sizing: border-box;
  line-height: 40px;
  font-size: 17px;
  position: relative;
  top: -35px;
  color: #777;
  width: 63px;
  background-color: #F5D76E;
  border: 10px solid #F5D76E;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/* Bootstrap color changes */
/* line 134, ../../scss/main.scss */
nav {
  background-color: #F5D76E !important;
}
