/* line 8, ../../scss/main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, ../../scss/main.scss */
body {
  color: #777;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* line 21, ../../scss/main.scss */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 26, ../../scss/main.scss */
nav.navbar {
  z-index: 1;
}
/* line 29, ../../scss/main.scss */
nav.navbar a {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 35, ../../scss/main.scss */
nav.navbar-slidein {
  position: fixed;
  top: 36px;
  width: 220px;
  min-height: 100%;
  z-index: 100;
  border-top: none;
  -moz-transform: translate(-220px, 1em);
  -ms-transform: translate(-220px, 1em);
  -webkit-transform: translate(-220px, 1em);
  transform: translate(-220px, 1em);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 49, ../../scss/main.scss */
nav.navbar-slidein-active {
  -moz-transform: translate(0px, 1em);
  -ms-transform: translate(0px, 1em);
  -webkit-transform: translate(0px, 1em);
  transform: translate(0px, 1em);
}

/* line 53, ../../scss/main.scss */
div.navfix {
  padding-top: 50px;
  height: 100%;
}

/* line 58, ../../scss/main.scss */
.frontpage {
  min-height: 100%;
  padding-bottom: 20px;
}

/* Bootstrap color changes */
/* line 64, ../../scss/main.scss */
nav {
  background-color: #F5D76E !important;
}
