/* line 10, ../../scss/main.scss */
html {
  min-height: 100%;
}

/* line 14, ../../scss/main.scss */
html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 21, ../../scss/main.scss */
body {
  min-height: 100%;
  color: #777;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* line 29, ../../scss/main.scss */
nav.navbar {
  z-index: 100;
  border-bottom: none;
}
/* line 33, ../../scss/main.scss */
nav.navbar a {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 39, ../../scss/main.scss */
nav.navbar-slidein {
  position: fixed;
  top: 36px;
  width: 150px;
  min-height: 100%;
  z-index: 100;
  border: none;
  -moz-transform: translate(-220px, 1em);
  -ms-transform: translate(-220px, 1em);
  -webkit-transform: translate(-220px, 1em);
  transform: translate(-220px, 1em);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 53, ../../scss/main.scss */
nav.navbar-slidein-active {
  -moz-transform: translate(0px, 1em);
  -ms-transform: translate(0px, 1em);
  -webkit-transform: translate(0px, 1em);
  transform: translate(0px, 1em);
}

/* line 57, ../../scss/main.scss */
div.navfix {
  padding-top: 50px;
  height: 100%;
}

/* line 62, ../../scss/main.scss */
div.page {
  padding-top: 40px;
  min-height: 100%;
  padding-bottom: 80px;
}

/* line 68, ../../scss/main.scss */
span.scroll-down {
  height: 0;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  width: auto;
  overflow: visible;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-top: 10px solid #F5D76E;
  text-align: center;
  display: block;
}
/* line 83, ../../scss/main.scss */
span.scroll-down:before {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  box-sizing: border-box;
  line-height: 40px;
  font-size: 17px;
  position: relative;
  top: -35px;
  color: #777;
  width: 63px;
  background-color: #F5D76E;
  border: 10px solid #F5D76E;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/* line 106, ../../scss/main.scss */
.img-hands {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
}
@media (min-width: 992px) {
  /* line 106, ../../scss/main.scss */
  .img-hands {
    width: 250px;
    height: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
  }
}

/* line 124, ../../scss/main.scss */
div#home div.home {
  border-top: none !important;
  padding-bottom: 81px;
}

/* line 129, ../../scss/main.scss */
#venues {
  height: 1500px;
}

/* line 133, ../../scss/main.scss */
#home div.home {
  padding-top: 20px;
}

/* line 137, ../../scss/main.scss */
.ceremony-img {
  background-image: url("/static/media/saint_marys.png");
}

/* line 141, ../../scss/main.scss */
.reception-img {
  background-image: url("/static/media/diamond_mills.png");
}

/* line 145, ../../scss/main.scss */
.venue-row {
  text-align: center;
}

/* line 151, ../../scss/main.scss */
.venue-block {
  display: inline-block;
  margin-top: 40px;
  z-index: 1;
  position: relative;
  max-width: 520px;
  width: 100%;
  height: 295px;
}
/* line 160, ../../scss/main.scss */
.venue-block h2 {
  margin: -5px 0 0 0;
  height: 60px;
  line-height: 60px;
  background-color: #F5D76E;
}

/* line 169, ../../scss/main.scss */
.venue-img {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 235px;
}

/* line 177, ../../scss/main.scss */
.venue-info-block {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  /* line 193, ../../scss/main.scss */
  .venue-info-block:hover {
    opacity: 100;
  }
}
/* line 199, ../../scss/main.scss */
.venue-info-block a {
  color: #f1c40f;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
/* line 205, ../../scss/main.scss */
.venue-info-block a:visited {
  color: #f1c40f;
}
/* line 209, ../../scss/main.scss */
.venue-info-block a:hover {
  color: #D3AC11;
}

/* line 215, ../../scss/main.scss */
div.venue-info-block-show {
  opacity: 100;
}

/* line 219, ../../scss/main.scss */
.venue-info-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 90px;
  line-height: 40px;
  z-index: 3;
  background-color: #323232;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  color: white;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 992px) {
  /* line 219, ../../scss/main.scss */
  .venue-info-button {
    display: none;
  }
}

/* Bootstrap color changes */
/* line 245, ../../scss/main.scss */
nav {
  background-color: #F5D76E !important;
}
